body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;

  > header {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

  > main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 103px;
  }

  > footer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: white;
  }
}
